@import 'definitions';

// HdyComboRow

popover.combo list {
  min-width: 200px;
}

window.csd.unified:not(.solid-csd) {
  // Since corners are masked, there's no need for round corners anymore
  headerbar {
    border-radius: 0;
  }
}

.windowhandle {
  &, & * {
    // This is the most reliable way to enable window dragging
    -GtkWidget-window-dragging: true;
  }
}

tabbar {
  .tab-close-button,
  .tab-secondary-icon {
    padding: 0;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
  }

  .tab-secondary-icon:not(.clickable) {
    background: none;
    box-shadow: none;
    border-color: transparent;
  }
}
